* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  min-height: 100vh;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  background: #dde2f0;
}
.container {
  width: 18.5rem;
  background: #fff;
  border-radius: 1rem;
  padding: 1rem 1rem 2rem;
}
.image-container {
  width: 100%;
  height: 15rem;
  overflow: hidden;
  border-radius: 0.5rem;
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.content {
  text-align: center;
}
.content h1 {
  color: #1f3251;
  margin-bottom: 1rem;
}
.content p {
  color: #7b879d;
}
